.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.app-container img {
  width: 100px;
  margin-left: 20px;
}

.counter-container{
  margin-top: 20px;
}